<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pw.qlm.ipctest">

    <permission android:name="qw.qlm.ipctest.PERMISSION_CALL_REMOTE_SERVICE"
        android:protectionLevel="normal"/>

    <uses-permission android:name="qw.qlm.ipctest.PERMISSION_CALL_REMOTE_SERVICE"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".aidl.BinderPoolService"
            android:process=":remote"/>

        <service android:name=".aidl.ProgramManagerService"
            android:process=":program"/>

        <service android:name=".ipc.ConfigManagerService"
            android:process=":config"/>

    </application>

</manifest>